:root {
    --color-dark1:  #0b0c15;
    --color-dark2:  #15121e;
    --color-dark3:  #241b28;
    --color-dark4:  #372632;
    --color-light1: #4f343d;
    --color-light2: #694749;
    --color-light3: #875f58;
    --color-light4: #a57c69;
}

body {
    background-color: var(--color-dark3);
}

img {
    width: 50%;
    align-self: center;
}

img.ai {
    background-color: transparent;
}

h1.heading1 {
    font-family: "Playwrite IT Moderna";
    font-size: 104px;
    font-weight: 400;
    color: var(--color-light4);
    opacity: 100%;
    padding-left: 40px;
    border-width: 0px;
    margin-top: 20px;
    margin-bottom: -40px;
}

h1.heading2 {
    font-family: "Anton";
    font-size: 62px;
    font-weight: 400;
    color: var(--color-light3);
    opacity: 50%;
    padding-left: 40px;
    border-width: 0px;
    margin-bottom: -30px;
}

h1.heading3 {
    font-family: "Sigmar";
    font-size: 34px;
    font-weight: 400;
    color: var(--color-light2);
    opacity: 20%;
    padding-left: 40px;
    border-width: 0px;
    margin-bottom: -5px;
}

h1.heading4 {
    font-family: "Moon Dance", serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-light1);
    opacity: 25%;
    padding-left: 40px;
    padding-bottom: 80px;
    border-width: 0px;
    margin-bottom: 50px;
}

h2.paracap {
    color: var(--color-light4);
    font-family: "Phudu", bold;
    font-weight: 100;
    font-size: 68px;
    margin-left: 22px;
    font-weight: 800;
    margin-bottom: -2px;
}

h2.github {
    color: #e5b6bb;
    font-family: "Phudu", bold;
    margin-bottom: 6px;
}

h3.author {
    color: var(--color-light4);
    font-family: "Phudu";
    font-weight: 400;
    font-size: 18px;
    margin-left: 42px;
    margin-top: -120px;
}

h3.normal {
    color: #e2d188;
    font-family: "Lora", bold;
    font-weight: 100;
    font-size: 28px;
    margin-left: 22px;
    font-weight: 800;
}

p.content {
    color: var(--color-light4);
    font-family: "Lora";
    font-weight: 600;
    font-size: 22px;
    margin-left: 48px;
    word-wrap: break-word;
    max-width: 100%;
}

a.github {
    color: #e5b6bb;
    font-family: "Playwrite IT Moderna";
}

div.center {
    text-align: center;
    margin-bottom: 35px;
}

div.block {
    background-color: var(--color-dark1);
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

figcaption.ai {
    /* background-color: red; */
    width: 100%;
    font-family: "Phudu";
    font-size: 20px;
    color: var(--color-light4);
}

fieldset {
    margin-bottom: 12px;
    border-color: #e5b6bb;
}

legend {
    font-family: "Anton";
    font-weight: lighter;
    color: #e5b6bb;
    padding-left: 10px;
    padding-right: 10px;
}

label {
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Anton";
    font-weight: lighter;
    color: #e5b6bb;
}

.red {
    /* Debug purposes */
    background-color: red;
}

.green {
    /* Debug purposes */
    background-color: green;
}

.blue {
    /* Debug purposes */
    background-color: blue;
}